<!DOCTYPE html>
<html lang="en" th:fragment="parent(content,title)" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">Base Page</title>
    <link rel="stylesheet" th:href="@{/css/output.css}" />
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.css"
      rel="stylesheet"
    />
</head>
<body>

    <!--common header-->
   <!--navbar-->
   <div th:replace="~{navbar :: navbar}"></div>
    
    <div class="p-4">
    <section th:replace="${content}">
    </section>
</div>

     <script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>
</body>
</html>